.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}
.container {
  padding: 50px;
}
.d-flex {
  justify-content: center;
  display: flex;
  gap: 30px;
}
Link {
  text-decoration: none;
}
.btn {
  border: none;

  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}
.btn-riwayat,
.btn-input {
  color: white;
  background-color: rgb(230, 0, 255);
}
.btn-riwayat:hover,
.btn-input:hover {
  background-color: #61dafb;
  color: blueviolet;
  /* border: 1px solid black; */
  filter: drop-shadow(0 0 5px rgb(230, 0, 255));
}
/* .btn-input {
  color: white;
  border: 1px solid rgb(230, 0, 255);
  color: rgb(255, 0, 255);
  background-color: blue;
} */
