.container {
  padding: 100px;
}
.bar-top {
  align-content: center;
  text-align: center;
  padding: 20px;
}
.hidden {
  display: none;
}
.show {
  display: flex;
}
#topup,
#sell {
  background-color: #8d9eff;
  border-radius: 10px;
  height: 40vh;
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* text-align: center; */
  /* align-items: center; */
  margin: auto;
}

.m-3 {
  margin-right: 20px;
  margin-left: 20px;
}
.inputan {
  /* text */
  width: 200px;
  height: 30px;
}
.form {
  width: 500px;
  text-align: center;
}
.kiri {
  display: flex;
  justify-content: space-between;
  padding: 5px 100px;
}
